.home-page-row {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: row;
  gap: 20px;
  margin: 30px;
}

.home-page-label {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px; /* Khoảng cách giữa label và biểu đồ */
}

.home-page-message {
  font-size: 18px;
  font-weight: 500;
  color: rgb(172, 172, 172);
}

.home-page-row > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-page-row table {
  width: 100%;
  border-collapse: collapse; /* Loại bỏ khoảng cách giữa các cell trong bảng */
}

.home-page-row td {
  padding: 20px; /* Thêm padding cho các cell */
}

.home-page-row h2 {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.home-page-row .chart-container {
  width: 100%;
  height: 250px;
  background-color: #f9f9f9; /* Màu nền nhẹ để biểu đồ nổi bật */
  border-radius: 8px; /* Bo góc nhẹ */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Thêm hiệu ứng bóng đổ */
  padding: 10px;
  margin-bottom: 20px;
}

.home-page-row .chart-container canvas {
  width: 100% !important; /* Đảm bảo biểu đồ chiếm hết không gian */
  height: 100% !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #121212; /* Nền tối như trong hình */
  color: white;
}

h2, h3 {
  font-size: 1.2em;
}

canvas {
  /* background-color: #1f1f1f; Nền của biểu đồ */
  border-radius: 10px;
}
